<div class="page-header">
  <h1>Page Load Time
    <small id='page_load'>
      <img src="http://customize.org/images/lightbox/loading.gif?1391292812"/>
    </small>
  </h1>
  <h3>Press ⌘ + Shirt +R / Ctrl + Shift + R <strong>i.e. hard refresh</strong> to test load time!</h3>
</div>
