<!DOCTYPE html>
<html>
  <head>
    <title>ImageLoadingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'progressive_load', 'data-turbolinks-track': true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
